.video{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video_prev_finished{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105%;
}

.video_prev_play_img{
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    transition: 100ms ease;
}

.video_prev_play_img:hover{
    transform: scale(1.08);
}

.video_prev_title{
    position: absolute;
    direction: rtl;
    top: 2rem;
    right: 3rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.3rem 0.8rem;
    border-radius: 0.8rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.video_prev_download_btn{
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 100ms ease;
    background-color: #fff;
    border-radius: 50%;
    padding: 1.6rem;
}

.video_prev_download_btn:hover{
    transform: scale(1.08);
}

.video_prev_download_img{
    height: 2.1rem;
    width: 2.1rem;
}